* { margin: 0; padding: 0 }

body {
  background: #FFF; color: #666; min-width: 500px;
  font-family: Verdana,sans-serif
}

form { display: inline; vertical-align: middle }

input {
  border: 1px inset #CCC; height: 1.7em;
  vertical-align: middle; background: #EDEDED
}

button {
  vertical-align: middle; font-weight: 700; height: 1.7em;
  padding-left: 1em; padding-right: 1em
}

img { vertical-align: middle }

h1 { font-size: 150%; font-weight: 700 }
h2 { font-size: 125%; font-weight: 700 }
h3 { font-size: 100%; font-weight: 700 }
h4 { font-size: 85%;  font-weight: 700 }

p { font-size: 14px; color: #333; text-align: justify }

div.footer { font-size: 60%; font-weight: 700; color: #999 }
