div.wrapper { float: left; width: 100%; margin-left: -33% }
div.content { margin-left: 33% }

div.nav   { float: right; width: 32.9% }
div.extra { float: right; clear: right; width: 32.9% }

div.footer { clear: both; margin-top: 1.5em; text-align: center }

div.pad { padding: 12px }
